template container Panel(UI/Green)
{
	metrics_mode pixels
	material UI/Green
	horz_align center
	width 256
	height 32
}

template container Panel(UI/Yellow)
{
	metrics_mode pixels
	material UI/Yellow
	horz_align center
	width 256
	height 32
}